/* app/styles/Home.module.css */
.container {
    padding: 20px;
  }
   
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #ff6347, #ff9478);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
   
  .hero img {
    width: 50%;
    border-radius: 10px;
  }
   
  .serviceGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  @media only screen and (max-width: 768px) {
    .hero img{
      width: 25%;
    border-radius: 10px;

    }
   
  }
  @media only screen and (max-width: 425px) {
    .hero img{
      width: 91%;
      position: absolute;
    border-radius: 10px;

    }
    .hero {
    height: 200px;
    padding: 0px;

    }
   
  }